## Загрузка и подготовка реестра компании

- Считываю данные с помощью pandas
- Вывожу инфорацию по содержимому, чтобы оценить данные

In [1]:
import pandas as pd

df = pd.read_csv('reestr proektov.csv')
df.head()

,№,Менеджер,Статья расходов,Наименование проекта,Наименование позиции по прайсу,Дата постановки задачи,Цена за ед.(с НДС),Количество (шт.),Стоимость,Unnamed: 9,Номер задачи в Битриксе,Дата сдачи,Тема письма,Исполнитель,Спорный проект,Примечания:
0,1,Анна Рабушко,Электронная рассылка,e-mailer для рассылок EduTech Club,NaN,10.02.2021,12000.0,1,12000.0,NaN,NaN,24.02.2021,NaN,NaN,NaN,NaN
1,2,Александр Аникитин,Дипломы,Верстка дипломов_15.02.2021_Аникитин А.А.,NaN,15.02.2021,250.0,54,13500.0,NaN,NaN,24.02.2021,дипломы,NaN,NaN,NaN
2,4,Екатерина Чичкарева,Флаги,Разработка макетов флагов,NaN,12.03.2021,4800.0,1,4800.0,NaN,NaN,NaN,Заявка на граф.дизайн,NaN,NaN,NaN
3,5,Калинина Дарья,Дипломы,Верстка и предпечатная подготовка дипломов вып...,NaN,12.03.2021,250.0,3,750.0,NaN,NaN,NaN,\r\nВерстка и предпечатная подготовка дипломов...,NaN,NaN,"Изначально сделали в январе 3 диплома, сейчас ..."
4,6,Калинина Дарья,Дипломы,Верстка и предпечатная подготовка дипломов вып...,NaN,21.03.2021,250.0,5,1250.0,NaN,NaN,25.01.2021,Верстка и предпечатная подготовка дипломов вып...,Анна,NaN,NaN

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 642 entries, 0 to 641
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   №                               598 non-null    object
 1   Менеджер                        592 non-null    object
 2   Статья расходов                 305 non-null    object
 3   Наименование проекта            591 non-null    object
 4   Наименование позиции по прайсу  574 non-null    object
 5   Дата постановки задачи          556 non-null    object
 6   Цена за ед.(с НДС)              589 non-null    float64
 7   Количество (шт.)                590 non-null    object
 8   Стоимость                       589 non-null    float64
 9   Unnamed: 9                      0 non-null      float64
 10  Номер задачи в Битриксе         423 non-null    object
 11  Дата сдачи                      507 non-null    object
 12  Тема письма                     406 non-null    object
 13  Исполнитель                     425 non-null    object
 14  Спорный проект                  2 non-null      object
 15  Примечания:                     24 non-null     object
dtypes: float64(3), object(13)
memory usage: 80.4+ KB

- Удаляю столбцы, в которых не содержится ключевая информация для анализа - '№', 'Unnamed: 9', 'Тема письма', 'Спорный проект', 'Примечания:', 'Номер задачи в Битриксе'

In [3]:
df = df.drop(columns=['№', 'Unnamed: 9', 'Тема письма', 'Спорный проект', 'Примечания:', 'Номер задачи в Битриксе'])
df.head()

,Менеджер,Статья расходов,Наименование проекта,Наименование позиции по прайсу,Дата постановки задачи,Цена за ед.(с НДС),Количество (шт.),Стоимость,Дата сдачи,Исполнитель
0,Анна Рабушко,Электронная рассылка,e-mailer для рассылок EduTech Club,NaN,10.02.2021,12000.0,1,12000.0,24.02.2021,NaN
1,Александр Аникитин,Дипломы,Верстка дипломов_15.02.2021_Аникитин А.А.,NaN,15.02.2021,250.0,54,13500.0,24.02.2021,NaN
2,Екатерина Чичкарева,Флаги,Разработка макетов флагов,NaN,12.03.2021,4800.0,1,4800.0,NaN,NaN
3,Калинина Дарья,Дипломы,Верстка и предпечатная подготовка дипломов вып...,NaN,12.03.2021,250.0,3,750.0,NaN,NaN
4,Калинина Дарья,Дипломы,Верстка и предпечатная подготовка дипломов вып...,NaN,21.03.2021,250.0,5,1250.0,25.01.2021,Анна

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 642 entries, 0 to 641
Data columns (total 10 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Менеджер                        592 non-null    object
 1   Статья расходов                 305 non-null    object
 2   Наименование проекта            591 non-null    object
 3   Наименование позиции по прайсу  574 non-null    object
 4   Дата постановки задачи          556 non-null    object
 5   Цена за ед.(с НДС)              589 non-null    float64
 6   Количество (шт.)                590 non-null    object
 7   Стоимость                       589 non-null    float64
 8   Дата сдачи                      507 non-null    object
 9   Исполнитель                     425 non-null    object
dtypes: float64(2), object(8)
memory usage: 50.3+ KB

- Переименую столбцы на английские значения для удобства последующей обработки данный

In [6]:
df.rename(columns={'Менеджер': 'Menager'}, inplace=True)
df.rename(columns={'Статья расходов': 'Expense_item'}, inplace=True)
df.rename(columns={'Наименование проекта': 'Project_name'}, inplace=True)
df.rename(columns={'Наименование позиции по прайсу': 'Price_position'}, inplace=True)
df.rename(columns={'Дата постановки задачи': 'Date_start'}, inplace=True)
df.rename(columns={'Цена за ед.(с НДС)': 'Price'}, inplace=True)
df.rename(columns={'Количество (шт.)': 'Quantity'}, inplace=True)
df.rename(columns={'Стоимость': 'Total_cost'}, inplace=True)
df.rename(columns={'Дата сдачи': 'Date_finish'}, inplace=True)
df.rename(columns={'Исполнитель': 'Executor'}, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 507 entries, 0 to 627
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Menager         507 non-null    object
 1   Expense_item    239 non-null    object
 2   Project_name    506 non-null    object
 3   Price_position  502 non-null    object
 4   Date_start      503 non-null    object
 5   Price           507 non-null    float64
 6   Quantity        507 non-null    object
 7   Total_cost      507 non-null    float64
 8   Date_finish     507 non-null    object
 9   Executor        390 non-null    object
dtypes: float64(2), object(8)
memory usage: 43.6+ KB

- Удаляю строки, если в столбцах 'Total_cost' и 'Date_finish' отсутствуют значение тк вероятно это не завершенные проекты (статистика по которым нам пока не требется) или пустые строки, не нужные для аналитики

In [7]:
df = df.dropna(subset=['Total_cost', 'Date_finish'])
df.head()

,Menager,Expense_item,Project_name,Price_position,Date_start,Price,Quantity,Total_cost,Date_finish,Executor
0,Анна Рабушко,Электронная рассылка,e-mailer для рассылок EduTech Club,NaN,10.02.2021,12000.0,1,12000.0,24.02.2021,NaN
1,Александр Аникитин,Дипломы,Верстка дипломов_15.02.2021_Аникитин А.А.,NaN,15.02.2021,250.0,54,13500.0,24.02.2021,NaN
4,Калинина Дарья,Дипломы,Верстка и предпечатная подготовка дипломов вып...,NaN,21.03.2021,250.0,5,1250.0,25.01.2021,Анна
15,Чичкарева Екатерина,Презентация,СберУниверситет - партнер в цифровой трансформ...,Презентация (по шаблону) \r\n20 слайдов,14.04.2021,1100.0,10,11000.0,15.04.2021,Екатерина
65,Ирина Вахрушева,Презентация,Внесение корректировок в презентацию Digital s...,Презентация (по шаблону) 20\r\nслайдов,02.11.2021,1100.0,3,3300.0,09.11.2021,NaN

- Анализирую типы даннных по столбцам и преобразую тип данных столбцов 'Date_start' и 'Date_finish' в дату, а 'Quantity' в число

In [8]:
df['Date_finish'] = pd.to_datetime(df['Date_finish'], format='%d.%m.%Y')
df['Date_start'] = pd.to_datetime(df['Date_start'], format='%d.%m.%Y')
df['Quantity'] = df['Quantity'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 507 entries, 0 to 627
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Menager         507 non-null    object
 1   Expense_item    239 non-null    object
 2   Project_name    506 non-null    object
 3   Price_position  502 non-null    object
 4   Date_start      503 non-null    datetime64[ns]
 5   Price           507 non-null    float64
 6   Quantity        507 non-null    int32
 7   Total_cost      507 non-null    float64
 8   Date_finish     507 non-null    datetime64[ns]
 9   Executor        390 non-null    object
dtypes: datetime64[ns](2), float64(2), int32(1), object(5)
memory usage: 41.6+ KB

- Добавляю новый столбец с расчетом длительности выполнения проекта в днях. Поскольку день постановки задачи также считается днем выполнения - прибавляем +1 день ко всем расчетам

In [12]:
df['days_count'] = (df['Date_finish'] - df['Date_start']).dt.days + 1
df.head()

,Menager,Expense_item,Project_name,Price_position,Date_start,Price,Quantity,Total_cost,Date_finish,Executor,days_count
0,Анна Рабушко,Электронная рассылка,e-mailer для рассылок EduTech Club,NaN,2021-02-10,12000.0,1,12000.0,2021-02-24,NaN,15.0
1,Александр Аникитин,Дипломы,Верстка дипломов_15.02.2021_Аникитин А.А.,NaN,2021-02-15,250.0,54,13500.0,2021-02-24,NaN,10.0
4,Калинина Дарья,Дипломы,Верстка и предпечатная подготовка дипломов вып...,NaN,2021-03-21,250.0,5,1250.0,2021-01-25,Анна,-54.0
15,Чичкарева Екатерина,Презентация,СберУниверситет - партнер в цифровой трансформ...,Презентация (по шаблону) \r\n20 слайдов,2021-04-14,1100.0,10,11000.0,2021-04-15,Екатерина,2.0
65,Ирина Вахрушева,Презентация,Внесение корректировок в презентацию Digital s...,Презентация (по шаблону) 20\r\nслайдов,2021-11-02,1100.0,3,3300.0,2021-11-09,NaN,8.0

- Привожу значения в столбце к корректным, заменяем отрицательные значения на 1

In [13]:
df['days_count'] = df['days_count'].apply(lambda x: 1 if x < 0 else x)
df.head()

,Menager,Expense_item,Project_name,Price_position,Date_start,Price,Quantity,Total_cost,Date_finish,Executor,days_count
0,Анна Рабушко,Электронная рассылка,e-mailer для рассылок EduTech Club,NaN,2021-02-10,12000.0,1,12000.0,2021-02-24,NaN,15.0
1,Александр Аникитин,Дипломы,Верстка дипломов_15.02.2021_Аникитин А.А.,NaN,2021-02-15,250.0,54,13500.0,2021-02-24,NaN,10.0
4,Калинина Дарья,Дипломы,Верстка и предпечатная подготовка дипломов вып...,NaN,2021-03-21,250.0,5,1250.0,2021-01-25,Анна,1.0
15,Чичкарева Екатерина,Презентация,СберУниверситет - партнер в цифровой трансформ...,Презентация (по шаблону) \r\n20 слайдов,2021-04-14,1100.0,10,11000.0,2021-04-15,Екатерина,2.0
65,Ирина Вахрушева,Презентация,Внесение корректировок в презентацию Digital s...,Презентация (по шаблону) 20\r\nслайдов,2021-11-02,1100.0,3,3300.0,2021-11-09,NaN,8.0

- Столбец "Project_name" имеет слишком длинный текст, это может мешать дальнейшей обработке инфорации. Преобразую тип данных в столбце в строковый и сокращаю количество текста в столбце до 55 символов.

In [18]:
df['Project_name'] = df['Project_name'].astype(str)
max_length = 55
df['Project_name'] = df['Project_name'].apply(lambda x: x[:max_length])
df.head()

,Menager,Expense_item,Project_name,Price_position,Date_start,Price,Quantity,Total_cost,Date_finish,Executor,days_count
0,Анна Рабушко,Электронная рассылка,e-mailer для рассылок EduTech Club,NaN,2021-02-10,12000.0,1,12000.0,2021-02-24,NaN,15.0
1,Александр Аникитин,Дипломы,Верстка дипломов_15.02.2021_Аникитин А.А.,NaN,2021-02-15,250.0,54,13500.0,2021-02-24,NaN,10.0
4,Калинина Дарья,Дипломы,Верстка и предпечатная подготовка дипломов вып...,NaN,2021-03-21,250.0,5,1250.0,2021-01-25,Анна,1.0
15,Чичкарева Екатерина,Презентация,СберУниверситет - партнер в цифровой трансформ...,Презентация (по шаблону) \r\n20 слайдов,2021-04-14,1100.0,10,11000.0,2021-04-15,Екатерина,2.0
65,Ирина Вахрушева,Презентация,Внесение корректировок в презентацию Digital s...,Презентация (по шаблону) 20\r\nслайдов,2021-11-02,1100.0,3,3300.0,2021-11-09,NaN,8.0

## Выгрузка подготовленного документа для дальнейшей работы

In [19]:
df.to_excel('reestr proektov_work.xlsx', index=False)